<!DOCTYPE html>
<html>
<head>
    <title>Contador de usuários - Tutorial DevOps</title>
</head>
<body>
    <h1>Contador de usuários</h1>
    <p>Usuários online: {{ num_users }}</p>
    <ul>
        {% for ip, count in user_ips.items() %}
        <li>{{ ip }} ({{ count }})</li>
        {% endfor %}
    </ul>
</body>
</html>
